@media only screen and (min-width: 770px) {
.projects-page-wrapper {
  /* display: flex; */
}

  .projects-page-wrapper .project-wrapper {
    width: 65%;
    top: 12%;
    left: 20%;
     display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    justify-content: center;

   
  }


  #proj-img {
    height: 100%;
    width: 100%;
     min-width: 250px;
     /* max-width: 500px; */
    /* margin: 1%; */
  }

  .proj-img {
    margin: 0;
    /* display: flex; */
    width: 89%;
    height: 89.2%;
    border-radius: 5%;
    position: relative;
  }

  .proj-img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    position: relative;
  }

  .proj-img1:hover .proj1-des1 {
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    font-size: 30px;
  }

  .proj1-des1 {
    position: absolute;

    top: 0;
    bottom: 50%;
    left: 3%;
    right: 0;
    background-color: transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 5%;
    font-size: 20px;
    text-align: center;
  }
  .proj1-des2 {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 5%;
    right: 0;
    background-color: transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 5%;
    width: auto;
    margin: auto;
    text-align: center;
  }

  .proj-img1:hover .proj1-des2 {
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    font-size: 16px;
  }

  .proj-img2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    position: relative;
  }

  .proj-img2:hover .proj2-des1 {
    visibility: visible;
    opacity: 1;

    background-color: transparent;
    color: black;
  }

  .proj2-des1 {
    position: absolute;

    top: 0;
    bottom: 50%;
    left: 3%;
    right: 0;
    background-color: transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 5%;
    font-size: 30px;
    text-align: center;
  }
  .proj2-des2 {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 5%;
    background-color: transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 5%;
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  .proj-img2:hover .proj2-des2 {
    visibility: visible;
    opacity: 1;

    background-color: transparent;
    color: black;
  }

  .proj-img3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    position: relative;

    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    margin-top: 5%;
  }

  .proj3-img3 #proj-img {
    opacity: 1;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
  }

  .proj-img3:hover {
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    background-color: transparent;
  }

  #proj-img:hover,
  proj3-img3:hover #proj-img {
    opacity: 0.5;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .proj-img3:hover .proj3-des1 {
    visibility: visible;
    opacity: 1;

    background-color: transparent;
    color: black;
    font-size: 30px;
  }

  .proj3-des1 {
    position: absolute;

    top: 0;
    bottom: 50%;
    left: 3%;
    right: 0;
    background-color: transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 5%;
    text-align: center;
  }
  .proj3-des2 {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 5%;
    left: 3%;
    right: 0;
    background-color: transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    border-radius: 5%;
    margin: auto;
    text-align: center;
  }

  .proj-img3:hover .proj3-des2 {
    visibility: visible;
    opacity: 1;
    font-size: 16px;
    background-color: transparent;
    color: black;
  }

  .proj-img4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
    justify-content: center;
    display: none;
    background-color: white;
  }

  #more {
    display: none;
    vertical-align: text-top;
  }

  img {
    border: solid rgb(255, 236, 220) 5px;
    border-radius: 5%;
    filter: drop-shadow(0 1rem 1rem rgb(203, 160, 154));
  }
}

@media only screen and (min-width: 769px) {
}
