@media only screen and (min-width: 900px) {

  height: 55%;
  width: 50%;
  margin-top: 7%;
  margin-left: 20%;
  margin-bottom: 5%;

}


@media only screen and (max-width: 850px) {

    .resume-page #resume {
    height: 75vh;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
}