@media only screen and (min-width: 770px) {
    #NavBar {
        background-color: black;
        height: 8%;
        width: 100%;
        top: 0;
        position: fixed;
        text-align: center;
        vertical-align: middle;
        z-index: 100;
      }
    
      .link-list {
        display: inline-block;
      }
     .hamburger {
         display:none;
         
     }
     .checkbox {
         display: none;
     }

     
}





@media only screen and (max-width: 769px) {
  
  #NavBar {
    display: flex;
    background-color: black;
    /* justify-content: space-between; */
    max-height: 8%;
    width: 100%;
    top: 0;
    /* position: fixed;
    text-align: left;
    z-index: 100;  */
  } 
  
  /* #NavBar .link-item {
    list-style: none;
    display: block;
    padding: 4%;
    font-weight:600;
  }
  #NavBar a {
      color: black;
  }

  .hamburger {
    display:block;
    
} */


/* #NavBar .link-list {
    position: fixed;
    left: -150%; 
    top: 45px;
    gap: 0;
    padding-left:40%;
    flex-direction: column;
    background-color: white;
    width: 100%;
     text-align: center; 
    transition: 0.3s;
} */



/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   */

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  /* #NavBar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  } */
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  #NavBar .menu-items {
    display: flex;
  }
  
  #NavBar .nav-container li {
    list-style: none;
  }
  
  #NavBar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  #NavBar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 105;
    opacity: 0;
  }
  
  .nav-container .hamburger {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger .bar {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  
  .nav-container .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  #NavBar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  #NavBar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-45deg);
  }
  

  
}