@media only screen and (min-width: 770px) {
  .skills-page .skills-wrapper{
    height: 75%;
    width: 70%;
    margin-top: 7%;
    margin-left: 17%;
    margin-bottom: 5%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    font-size: 16px;
    gap: 1%;
    background-color: white;
    border-radius: 10%;
    border: solid rgb(255, 236, 220) 3px;
    filter: drop-shadow(0 1rem 1rem rgb(203, 160, 154));
padding-left: 2%;
  }
  .skills-page #skills-div {
    filter: drop-shadow(0 0 0.1rem #ffffff);
    display: flex;
    align-items: center;
    min-width: 15%;
    /* border: 2px black solid; */
  }

  .skills-page #skill-icon {
    float: left;
  }
  .skills-page #skills-text {
    text-align: center;
    font-size: 25px;
  padding-left: 4%;
  }
}

@media only screen and (max-width: 769px) {
  .skills-page #skills-icons {
    position: absolute;
    margin-top: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    justify-content: space-evenly;
  }
  #skills-div {
    filter: drop-shadow(0 0 0.1rem #ffffff);
    display: flex;
    align-items: center;
    float: left;
    margin-bottom: 3%;
  }
  #skill-icon {
    margin-top: 0;
    margin-left: 0;
    height: 10vh;
  }
  #skills-text {
    font-size: 25px;
    display: none;
  }
}
