.home {
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper {
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.div-left{
  /* background: radial-gradient( white, rgb(248, 220, 220), rgb(250,217,217)); */
  background-image: url("https://i.ibb.co/dgSFNXr/bbbc491e236e0863d1e396ed78cc4836.jpg");
  /* background-image: url("https://i.ibb.co/kg3Bz3h/cd519aa29129a4029cf49effe94c9195.jpg"); */
  /* background-image: url("https://i.ibb.co/f9zFvX0/76ecb40b98bd974c12124be3b067ecb8.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100vh;
}
img {
  display: flex;
  border-radius: 5%;
  margin-top: 18%;
  margin-left: 23%;
  border: solid rgb(255,236,220) 5px;
  filter: drop-shadow(0 1rem 1rem rgb(203, 160, 154));
  height: 50%;
}

.div-right{
  background: rgb(244,213,211);
  color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100vh;
  /* display: -webkit-flex; */
  /* display: flex; */
  overflow: auto;
  
}
/* #header{
  width: 100vw;
  border: solid black 5px;
} */
#greeting{
  font-size: 60px;
  position: absolute;
  /* margin-bottom: 10%; */
  left: 73%;
  top: 26%;
}
h2{
  font-size: 60px;
  position: absolute;
  /* margin-bottom: 10%; */
  left: 62%;
  top: 21%;
  
}
h3 {
  margin-left: 25px;
  margin-top: 35px;
  font-size: 25px;
}
#typewriter-text{
  /* position: absolute; */
  /* top: 10%; */
}

.span1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  font-size: 30px;
  /* margin-right: 2px; */
  margin-bottom: 50px;
}
.span1::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 2s;
  animation-timing-function: steps(1, end);
}
@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 9em;
  }
}
@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 24%;
  margin-top: 35%;
}

button {
  width: 70%;
  padding: 2.5%;
  background-color: white;
  font-size: medium;
  font-weight: 200;
  border-radius: 10px;
  margin: 1%;
  border:solid rgb(255,236,220) 3px;;
}
button:hover {
  background-color:black;
  color: rgb(203, 160, 154);
}
.home-link{
  position: absolute;
  right: 20px;
  top: 1%;
  font-size: 25px;
}

.fa-2x{
  padding: 20px;
}
.fa-2x:hover{
  color: white;
}
#plane {
margin-left: 44%;  
}

a {
  text-decoration: none;
  color: black;
}

#about-me {
  background-color: white;
}

#heading {
  position: absolute;
  top: 4%;
  left: 68%;
  width: 20%;
  margin:0;
 

}

#project-wrapper{
   display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  height: 85vh;
  width: 50vw;
  overflow: auto;
  margin-top: 15%;
 
}

#proj1{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
margin:0;
height: 100%;
width: 100%;
}

#proj2 {
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 2;
grid-column-end: 3;
margin:0;
height: 100%;
width: 100%;
}

#proj3 {
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 2;
margin:0;
height: 100%;
width: 100%;
  
} 

#proj-img {
  margin:10% 0 0 10%;
}

#proj1-description {
  padding-top: 20px;
  font-size: 30px;
  
}

#proj2-description {
  padding-top: 20px;
  padding-left: 40px;
  font-size: 30px;
}

#proj3-description {
  font-size: 30px;
}
h4 {
  margin-left: 25%;
}

iframe {
  height: 80%;
  margin-top: 12%;
  margin-left: 15%;
}

#contactForm{
  position: absolute;
  top: 20%;
  left: 55%;
  display: flex;
  flex-direction: column;
  height: 55%;
  width: 40%;
  font-size: 25px; 
  border: solid rgb(255,236,220) 5px;
  padding: 25px;
  border-radius: 10px;
}

input{
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 3%;
}
textarea{
  font-size: 20px;
  height: 50%;
}
#formButton {
float: right;
margin-left: 35%;
padding: 2%;
width: 30%;
}